<h1>Contacts</h1>
<form action="/" method="get">
  <input type="submit" value="Go Back">
</form>
<br>

<hr/>
<% @contacts.each do |contact|%>
<h2><%= contact.name %> <%=contact.surname%></h2>
<p><%=contact.email%></p>
<p><%=contact.address%></p>
<form action="/edit/<%= contact.id %>" method="get">
  <input type="submit" value="Update Contact">
</form>
<form action="/contact/<%= contact.id %>" method="get">
  <input type="submit" value="Delete Contact">
</form>
<hr/>
<% end %>
